<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            font-size: xx-large;
        }
    </style>
    <title>Fleet List</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm mb-3">
            <div class="container-fluid">
                <h1 class="navbar-brand col">Curtis Fleetlist</h1>
            </div>
        </nav>
    </header>
    <div>
        <main>
            <!--Use EJS to receive and format the SQLite Data-->
            <!--<h1>Fleet List</h1>-->
            <% {console.log("listing vehicles: " + fleetList.length);} %>
            <table class="">
                <thead>
                    <tr>
                        <th>
                            <!-- Add a form and button to go to add a vehicle route -->
                            <form method="GET" action="\addVehicle">
                                <input type="submit" value="Add Vehicle">
                            </form>
                        </th>
                        <th >Year</th>
                        <th >Make</th>
                        <th >Model</th>
                        <th >Mileage</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- EJS loop tp create a table row for each vehicle -->
                    <% for(var i=0;i<fleetList.length;i++) { %>
                        <tr>
                            <td>
                                <!-- Add a form and button on each row to edit the vehicle -->
                                <form action="/updVehicle/<%= fleetList[i].id %>"
                                    method="get" id="udpVehicle" name="updVehicle">
                                    <input type="submit" class="btn btn-outline-secondary" name="Edit"
                                        value="Edit">
                                </form>
                            </td>
                            <td><%= fleetList[i].vYear %></td>
                            <td><%= fleetList[i].vMake %></td>
                            <td><%= fleetList[i].vModel %></td>
                            <td><%= fleetList[i].vMileage %></td>
                            <td>
                                <!-- Add a form and button on each row to bring up the safe delete process -->
                                <form action="/delVehicle/<%= fleetList[i].id %>"
                                    method="post" id="delVehicle<%=fleetList[i].id%>"
                                    name="delVehicle<%=fleetList[i].id%>">
                                    <input type="button" class="btn btn-outline-secondary" name="Delete"
                                        value="Delete" onclick="safeDelete('delVehicle<%=fleetList[i].id%>')">
                                </form>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </main>
    </div>
    <script>
        /*** Ask Mercy Ouestion before deleting a vehicle ***/
        function safeDelete(deleteVehicle) {
            console.log("passed to safeDelete: " + deleteVehicle);
            let yesNo = confirm("Are you sure?");
            if (yesNo === true) {
                console.log("submitting delete; " + deleteVehicle);
                document.forms[deleteVehicle].submit();
            }
        }
    </script>
</body>
</html>