<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="fleet-container container">
    <header>
        <nav>
            <div>
                <h1 class="mt-4 pb-3">Curtis Fleet</h1>
            </div>
        </nav>
    </header>
    <div class="container col-10">
        <main class="">
            <!--Use EJS to receive and format the SQLite Data-->
            <!--<h1>Fleet List</h1>-->
            <% {console.log("listing vehicles: " + fleetList.length);} %>
            <div class="fleet-table p-3">
                <table class="table table-sm table-borderless table-hover">
                    <thead>
                        <tr>
                            <th>
                                <!-- Add a form and button to go to add a vehicle route -->
                                <form method="GET" action="\addVehicle">
                                    <input type="submit" class="btn btn-outline-success" 
                                        value="Add Vehicle">
                                </form>
                            </th>
                            <th >Year</th>
                            <th >Make</th>
                            <th >Model</th>
                            <th >Mileage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- EJS loop tp create a table row for each vehicle -->
                        <% for(var i=0;i<fleetList.length;i++) { %>
                            <tr>
                                <td>
                                    <!-- Add a form and button on each row to edit the vehicle -->
                                    <form action="/updVehicle/<%= fleetList[i].id %>"
                                        method="get" id="udpVehicle" name="updVehicle">
                                        <input type="submit" class="btn btn-outline-secondary" 
                                            name="Edit" value="Edit">
                                    </form>
                                </td>
                                <td><%= fleetList[i].vYear %></td>
                                <td><%= fleetList[i].vMake %></td>
                                <td><%= fleetList[i].vModel %></td>
                                <td><%= fleetList[i].vMileage %></td>
                                <td>
                                    <!-- Add a form and button on each row to bring up the safe delete process -->
                                    <form action="/delVehicle/<%= fleetList[i].id %>"
                                        method="post" id="delVehicle<%=fleetList[i].id%>"
                                        name="delVehicle<%=fleetList[i].id%>">
                                        <input type="button" class="btn btn-outline-danger float-end" name="Delete"
                                            value="Delete" onclick="safeDelete('delVehicle<%=fleetList[i].id%>')">
                                    </form>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <footer class="footer container col-8">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p>&copy;2023 curtisfleet.com</p>
            </div>
            <div class="col">
                <a class="attribution" href="https://www.vecteezy.com/free-photos">Free Stock photos by Vecteezy</a>
            </div>
        </div>
    </footer>
    <script>
        /*** Ask Mercy Ouestion before deleting a vehicle ***/
        function safeDelete(deleteVehicle) {
            console.log("passed to safeDelete: " + deleteVehicle);
            let yesNo = confirm("Are you sure?");
            if (yesNo === true) {
                console.log("submitting delete; " + deleteVehicle);
                document.forms[deleteVehicle].submit();
            }
        }
    </script>
</body>
</html>